<div class="comment d-flex flex-wrap">
    <div class="avatar">
        <img class="avatar user-select-none" src="{{ comment.author.avatar.url }}" alt="avatar">
    </div>

    <div class="text ms-3 flex-grow-1">
        <div class="username">
            <strong>
                <a href="{% url 'profile' comment.author.pk %}">
                    {{ comment.author.username }}
                </a>
            </strong>
            <span class="ms-1">{{ comment.text }}</span>
        </div>
    </div>
</div>

