{% load static %}

<div class="col-12 col-lg-8">
    <div class="card rounded-1">
        <div class="header px-3 py-2 border-bottom d-flex align-items-center">
            <div class="avatar">
                <img class="avatar user-select-none" src="{{ post.author.avatar.url }}" alt="avatar">
            </div>
            <div class="username ms-3">
                <strong>
                    <a href="{% url 'profile' post.author.pk %}">
                        {{ post.author }}
                    </a>
                </strong>
            </div>

            <div class="option ms-auto">
                <span role="button" data-bs-target="#options" data-bs-toggle="modal">
                    <i class="fa-solid fa-ellipsis"></i>
                </span>
            </div>

            <div class="modal fade" id="options">
                <div class="modal-dialog modal-dialog-centered modal-sm">
                    <div class="modal-content">
                        <ul class="list-group">

                            <li class="list-group-item position-relative text-center">
                                <a href="{% url 'post_detail' post.pk %}" class="text-decoration-none text-black stretched-link">
                                    Перейти к публикаций
                                </a>
                            </li>

                            {% if user == post.author %}
                            <li class="list-group-item position-relative text-center">
                                <a href="" class="text-decoration-none text-black stretched-link">
                                    <span>Изменить</span>
                                </a>
                            </li>
                            <li class="list-group-item position-relative text-center">
                                <a href="" class="text-decoration-none text-black stretched-link">
                                    <span>Удалить</span>
                                </a>
                            </li>
                            {% endif %}

                            <li class="list-group-item position-relative text-center">
                                <a href="" class="text-decoration-none text-black stretched-link">
                                    <span class="text-danger">Отмена</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="body py-0 d-flex justify-content-center bg-black">
            <img class="post-image user-select-none img-fluid" src="{{ post.images.url }}" alt="img">
        </div>

        <div class="footer border-top px-3 pt-2">
            <div class="actions d-flex align-items-center mb-2">
                {% if post in user.liked_posts.all %}
                    {% include 'posts/includes/like/post_unlike.html' %}
                {% else %}
                    {% include 'posts/includes/like/post_like.html' %}
                {% endif %}

                <div class="comment ms-3">
                    <i class="fa-regular fa-comment fa-xl"></i>
                </div>
            </div>

            <p class="likes">
                {# Number of likes #}
                {{ post.liked_users.all.count }} отметок "Нравиться"
            </p>

            <p class="description">
                <strong class="me-1">
                    {{ post.author }}
                </strong>
                {{ post.description|truncatechars:256 }}
            </p>

            <p class="date text-muted">
                {{ post.created_at }}
            </p>
        </div>

        {% include 'posts/includes/comment_form.html' %}

        {% if post.comments.all.count > 0 %}
            <div class="comments border-top p-3 d-flex flex-column gap-3">
                {% for comment in post.comments.all %}
                    {% include 'posts/includes/post_comments.html' %}
                {% endfor %}
            </div>
        {% endif %}

    </div>
</div>