{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Редактировать
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-10 col-lg-6">
            <form action="{% url 'profile_edit' user_obj.pk %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Редактировать</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

